:root {
  --clr-primary-100: hsl(26, 100%, 55%);
  --clr-primary-200: hsl(25, 100%, 94%);
  --clr-neutral-100: hsl(220, 13%, 13%);
  --clr-neutral-200: hsl(219, 9%, 45%);
  --clr-neutral-300: hsl(220, 14%, 75%);
  --clr-neutral-400: hsl(223, 64%, 98%);
  --clr-neutral-500: hsl(0, 0%, 100%);
  --clr-neutral-600: hsla(0, 3%, 7%, 0.726);
  --fw-100: ;
  --fw-200: ;
  --fw-300: 400;
  --fw-400: 700;
}

/* t-accent-5--:orange
  t-accent-400: black
  t-accent-300: grey
  t-accent-200: whitishgray
  t-accent-100: white
 */

/*---- CSS Resets -----*/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html,
body,
#root {
  height: 100%;
}

header::after {
  content: "";
  width: 90%;
  height: 1px;
  display: block;
  background-color: var(--clr-neutral-300);
  margin: 0 auto;
}

button {
  border: 0 solid transparent;
  outline: 0 solid transparent;
}
/* ------------- */

/*---- Utility classes ---*/
.flex {
  display: flex;
  gap: var(--gap);
}

.grid {
  display: grid;
}

.self-center {
  place-self: center;
}

.place-center {
  place-items: center;
}

.sr-only {
  clip-path: circle(0);
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.ml-auto {
  margin-left: auto;
}

.w-100 {
  width: 100%;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.no-overflow-x {
  overflow-x: hidden;
}

.fw-100 {
}

.fw-200 {
}

.fw-300 {
  font-weight: var(--fw-300);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.text-accent-100 {
  color: var(--clr-neutral-500);
}

.text-accent-200 {
  color: var(--clr-neutral-300);
}

.text-accent-300 {
  color: var(--clr-neutral-200);
}

.text-accent-400 {
  color: var(--clr-neutral-100);
}

.text-accent-500 {
  color: var(--clr-primary-100);
}

.bg-white {
  background-color: var(--clr-neutral-500);
}

.bg-orange {
  background-color: var(--clr-primary-100);
}

.bg-light-orange {
  background-color: var(--clr-primary-200);
}

.bg-super-light-grey {
  background-color: var(--clr-neutral-400);
}

/* ------------------------------ */

/*--- Components Styling--- */
.navbar {
  align-items: center;
  padding-block: 1em;
  padding-inline: 5%;
}

.navbar__toggler {
  display: none;
  width: 16px;
  aspect-ratio: 16 /15;
  background-image: url("../public/images/icon-menu.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: 20;
}

.navbar__link {
  color: inherit;
  text-decoration: none;
}

.user--info {
  align-items: center;
}

.user__cart-count {
  padding-inline: 0.5em;
  border-radius: 160px;
  top: -0.6rem;
  right: -0.5rem;
  font-size: 13px;
}

.user__cart,
.user__img {
  cursor: pointer;
}

.main {
  margin-block-start: 2rem;
  grid-template-columns: repeat(2, minmax(12.5rem, 25rem));
  justify-self: center;
  align-self: center;
  column-gap: 4rem;
}

.small-img {
  cursor: pointer;
  width: 80px;
  border-radius: 10px;
}

.main__small-img-box {
  margin-top: 1rem;
  justify-content: space-between;
}

.lrg-img {
  transition-property: transform;
  transition-duration: 500ms;
  cursor: pointer;
}

/* ----Slibebox---- */
.slide-btn {
  width: 30px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  position: absolute;
  top: 50%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  /* transform: translateY(-100%); */
  /* background-repeat: no-repeat; */
}

.prev-btn {
  left: 0;
  transform: translateX(-50%);
  /* background-image: url('../images/icon-previous.svg') */
}

.next-btn {
  /* background-image: url('../images/icon-next.svg'); */
  transform: translateX(50%);
  right: 0;
}

.main__mobile-image-box {
  display: none;
}
/* ------------------------ */

/* ---Lightbox---- */
.lightbox {
  z-index: 999;
  width: 25rem;
  outline: 99999px solid var(--clr-neutral-600);
  background-color: var(--clr-neutral-600);
}

.lightbox__close-btn {
  aspect-ratio: 2 / 1;
  background-color: transparent;

  top: 0;
  right: 0;
  transform: translateY(-150%);
  cursor: pointer;
}

.lightbox__thumbnails {
  width: 100%;
  justify-content: space-between;
}
/* ----------- */

/* ----Cart styling--- */
.cart {
  top: 90%;
  padding: 1em 2em;
  width: fit-content;
  right: 10%;
}

.add-to-cart {
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item-counter {
  justify-content: space-between;
  flex-grow: 1;
}

.cart {
  
}

.cart__checkout-btn {
  width: 100%;
}

.add-to-cart,
.item-counter,
.cart__checkout-btn {
  padding: 0.5em 1em;
  cursor: pointer;
}


/* -------- */

/* ------------------------ */

@media (max-width: 800px) {
  header::after {
    display: none;
  }

  .navbar__toggler {
    display: block;
    z-index: 20;
  }

  .navbar__menu {
    position: absolute;
    flex-direction: column;
    inset: 0 50% 0 0;
    padding-block-start: 6em;
    padding-inline-start: 6%;
    transition-property: transform;
    transition-duration: 200ms;
    z-index: 11;
  }

  .navbar__menu[ismobile="false"] {
    transform: translateX(-120%);
  }

  .navbar__menu[ismobile="true"] {
    outline: 50vw solid var(--clr-neutral-600);
  }
  .cart {
    width: 90%;
    right: 5%;
  }

  .menu-close {
    background-image: url("../public/images/icon-close.svg");
  }

  .main {
    margin: 0;
    grid-template-columns: 1fr;
  }

  .main__mobile-image-box {
    display: block;
  }

  .main__desktop-image-box {
    display: none;
  }

  .next-btn {
    transform: translateX(-100%);
  }

  .prev-btn {
    transform: translateX(100%);
  }

  .lightbox {
    display: none;
  }
}
